@{
    ViewBag.Title = "Home Page";
}


<section class="row">
    <article class="post-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">Публикувано от <i>Aglo</i>на <i>31.08.2016</i></div>
        <div class="boby">Тяло на публикация
        <p>Малко текст...</p>
        </div>
            </article>
    <article class="post-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">Публикувано от <i>Aglo</i>на <i>31.08.2016</i></div>
        <div class="boby">
            Тяло на публикация
            <p>Малко текст...</p>
        </div>
    </article>
    <article class="post-md-6">
        <h2 class="title">Заглавие на пост</h2>
        <div class="about">Публикувано от <i>Aglo</i>на <i>31.08.2016</i></div>
        <div class="boby">
            Тяло на публикация
            <p>Малко текст...</p>
        </div>
    </article>
    
    </section>